@font-face {
  font-family: "Arvo";
  src: url("../font/Arvo-Regular.ttf");
}

@font-face {
  font-family: "Arvo";
  src: url("../font/Arvo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf");
}


@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-ExtraBold.ttf");
  font-weight: bolder;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Light.ttf");
  font-weight: lighter;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Open Sans" !important;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #e0e0e0, #c5c5c5, #ababab, #919191, #787878) !important;
}

.wrapper_guide {
  width: 1280px;
  margin: auto;
}

/* ========
  HEADER START
 ======== */

header {
  align-items: center;
  border-bottom: 5px solid #73471d;
  display: flex !important;
  flex-direction: column;
  padding: 10px 0;
}

header nav {
  width: 100%;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 !important; 
  padding: 0;
}

#logo {
  height: 150px;
}

header a {
  color: #856447 !important;
  font-family: "Arvo";
  font-size: 40px;
  font-weight: bold;
  position: relative;
  text-decoration: none !important;
}

header a:hover:after, .active_link:after {
  background-color: #74471c;
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  margin: auto;
  right: 0;
  bottom: -5px;
  width: 50px;
}

#title {
  color: #73471d;
  font-family: "Arvo";
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}


/* ========
  HEADER END
 ======== */

 /* ========
  MAIN START
 ======== */

 main {
   padding: 30px 0;
   animation-name: fade-in;
   animation-duration: 500ms;
   animation-fill-mode: forwards;
 }

 h1 {
   font-size: 32px !important;
   font-weight: bold !important;
   line-height: 1.5 !important;
 }

 h1, h2 {
   margin: 0 !important;
   font-family: "Arvo" !important;
   text-align: center;
 }

 p {
   font-family: inherit !important;
   margin-bottom: 20px;
   font-weight: bold !important;
 }


#video_container {
  max-width: 1100px;
  margin: auto;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#video_container video {
  border: 30px solid #535253;
  width: 100%;
}

/*
  Gallery
*/

#images_container {
  padding: 20px 0;
}


#images_container img {
  display: block;
  margin: auto;
  height: 500px;
  width: auto !important;
}

#images_container img:hover {
  transform: scale(1.4);
  position: relative; 
  z-index: 5;
  transition: transform 300ms ease;
}


/*
  About
*/

#author_name {
  text-align: center;
}

#about_author_container img {
  display: block;
  margin: auto;
}

#map_location {
  text-align: center;
}


 /* ========
  MAIN END
 ======== */


 /* ========
  FOOTER START
 ======== */

footer {
  border-top: 5px solid #87623c;
}

#copyright {
  padding: 20px 0;
  text-align: center;
}

/* ========
  FOOTER END
 ======== */

 @media screen and (max-width: 1100px) {
  .wrapper_guide {
    width: 900px;
  }
 }

 @media screen and (max-width: 768px) {
  .wrapper_guide {
    width: 90vw;
  }
 }


 @keyframes fade-in {
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
 }